<!DOCTYPE html>
<html>
    <head>
        <title>Companies</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    </head>
    <body>


<div class="ui menu">
  <div class="header item">
    Reviews
  </div>
  <a class="item" href="/companies">
    Companies
  </a>
  <div class="right menu">
      <a class="item">Sign Up</a>
      <a class="item">Log In</a>
  </div>
</div>