<!DOCTYPE html>
<html>
    <head>
        <title>Companies</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
        <link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
        <script
          src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    </head>
    <body>


<div class="ui menu">
  <div class="header item">
    CompanyReview
  </div>
  <a class="item" href="/companies">
    Companies
  </a>
  <div class="right menu">
    <% if(!currentUser){ %>
      <a class="item" href="/register">Register</a>
      <a class="item" href="/login">Log In</a>
    <% } else { %>
      <a class="item" href="/profile"><%=currentUser.username%></a>
      <a class="item" href="/logout">Log Out</a>
    <% } %>
  </div>
</div>