<div class="menu">
    <div class="item" data-value="0">
        <i class="star outline icon"></i>
        <i class="star outline icon"></i>
        <i class="star outline icon"></i>
        <i class="star outline icon"></i>
        <i class="star outline icon"></i>
    </div>
    <div class="item" data-value="1">
        <i class="star icon"></i>
        <i class="star outline icon"></i>
        <i class="star outline icon"></i>
        <i class="star outline icon"></i>
        <i class="star outline icon"></i>
    </div>
    <div class="item" data-value="2">
        <i class="star icon"></i>
        <i class="star icon"></i>
        <i class="star outline icon"></i>
        <i class="star outline icon"></i>
        <i class="star outline icon"></i>
    </div>
    <div class="item" data-value="3">
        <i class="star icon"></i>
        <i class="star icon"></i>
        <i class="star icon"></i>
        <i class="star outline icon"></i>
        <i class="star outline icon"></i>
    </div>
    <div class="item" data-value="4">
        <i class="star icon"></i>
        <i class="star icon"></i>
        <i class="star icon"></i>
        <i class="star icon"></i>
        <i class="star outline icon"></i>
    </div>
    <div class="item" data-value="5">
        <i class="star icon"></i>
        <i class="star icon"></i>
        <i class="star icon"></i>
        <i class="star icon"></i>
        <i class="star icon"></i>
    </div>
</div>