<% include ./partials/header %>

<link href="stylesheets/landing.css" rel="stylesheet">

<div class="crossfade">
    <figure></figure>
    <figure></figure>
    <figure></figure>
    <figure></figure>
    <figure></figure>
</div>

<div class="jumbotron" id="landing-header">
    <h1 class="display-4">FairDinkumDays</h1>
    <p class="lead">Helping backpackers find fair dinkum work.</p>
    <form action="/companies" method="GET">
        <div class="form-group">
            <input class="form-control" type="text" name="search" placeholder="Search Companies">
        </div>
    </form>
    <a class="btn btn-primary" href="/companies" role="button">View All Companies</a>
</div>

<% include partials/footer %>