<!DOCTYPE html>
<html>
    <head>
        <title>Companies</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
        <link href="stylesheets/landing.css" rel="stylesheet">
    </head>
    <body>

<div class="ui vertical masthead center aligned segment" >
    <div class="ui text container" >
        <h1 id="landing-header" class="ui header">CompanyReview</h1>
        
        <a class="ui huge primary button" href="/companies">View All Companies</a>
    </div>

</div>

<% include partials/footer %>