<% include ./partials/header %>

<div class="ui text clearing container segment">

    <h1 class="ui header"><%=currentUser.username%></h1>
    <div>User since #####</div>
    <h3 class="ui header">Reviews</h3>
</div>

<% include ./partials/footer %>