body {
    background-image: url("../images/haybales.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  font-size: 4em;
  padding-top: 40vh;
}