<% include ../partials/header %>

<div class="ui text container clearing segment">

    <h1 class="ui header">Add New Review for <%= company.name %></h1>
    <form class="ui form" action="/companies/<%= company._id %>/reviews" method="POST">
      <div class="field">
        <label>Author</label>
        <input type="text" name="review[author]" placeholder="Author">
      </div>
      <div class="field">
        <label>Review</label>
        <input type="text" name="review[body]" placeholder="Review">
      </div>
      <!--<div class="field">-->
      <!--  <label>Image URL</label>-->
      <!--  <input type="text" name="review[image]" placeholder="Image URL">-->
      <!--</div>-->
      <h3 class="ui header">Ratings:</h3>
      <div class="field">
        <label>Pay</label>
        <input type="text" name="review[ratingPay]" placeholder="Rating">
      </div>
      <div class="field">
        <label>Atmosphere</label>
        <input type="text" name="review[ratingAtmosphere]" placeholder="Rating">
      </div>
      <div class="field">
        <label>Staff</label>
        <input type="text" name="review[ratingStaff]" placeholder="Rating">
      </div>
      <div class="field">
        <label>Safety</label>
        <input type="text" name="review[ratingSafety]" placeholder="Rating">
      </div>
      <div class="field">
        <label>Accomodation</label>
        <input type="text" name="review[ratingAccomodation]" placeholder="Rating">
      </div>
      <div class="field">
        <label>Hours per week</label>
        <input type="text" name="review[hoursPerWeek]" placeholder="Hours per week">
      </div>
      <div class="field">
        <label>Days per week</label>
        <input type="text" name="review[daysPerWeek]" placeholder="Days per week">
      </div>
      <div class="field">
        <label>Salary</label>
        <input type="text" name="review[salary]" placeholder="Salary">
      </div>
      <div class="field">
        <label>Salary Rate</label>
        <input type="text" name="review[salaryRate]" placeholder="perDay, perHour, perWeek">
      </div>
      <div class="field">
        <label>Accomodation Provided</label>
        <input type="text" name="review[accomodationProvided]" placeholder="True, False">
      </div>
      <div class="field">
        <label>Accomodation Cost</label>
        <input type="text" name="review[accomodationCost]" placeholder="Accomodation Cost">
      </div>
      <div class="field">
        <label>Accomodation Cost Rate</label>
        <input type="text" name="review[accomodationCost]" placeholder="perNight, perWeek">
      </div>
      <a href="/companies/<%=company._id%>" >
        <button class="ui left floated negative basic button">Cancel</button>
      </a>
      <button class="ui right floated primary button" type="submit">Submit</button>
    </form>
</div>

<% include ../partials/footer %>