<% include ../partials/header %>

<div class="rounded border container mt-3 pt-3 pb-3">
  <h1>Add New Review for <%= company.name %></h1>
  <form>
    <div class="form-group" action="/companies/<%= company._id %>/reviews" method="POST">
      <label for="author">Author</label>
      <input type="text" class="form-control" id="author" name="review[author]" placeholder="Author">
    </div>
    <div class="form-group">
      <label for="review">Review</label>
      <textarea class="form-control" id="review" rows="3" name="review[review]" placeholder="Review"></textarea>
    </div>
    <h4>Ratings</h4>
    <div class="row">
      <div class="form-group col-md-3 col-sm-6">
        <label for="ratingPay">Pay</label>
        <select class="custom-select" id="ratingPay" name="review[ratingPay]">
            <% include ../partials/star-select %>
        </select>
      </div>
      <div class="form-group col-md-3 col-sm-6">
        <label for="atmosphere">Atmosphere</label>
        <select class="custom-select" id="atmosphere" name="review[ratingAtmosphere]">
            <% include ../partials/star-select %>
        </select>
      </div>
      <div class="form-group col-md-3 col-sm-6">
        <label for="staff">Staff</label>
        <select class="custom-select" id="staff" name="review[ratingStaff]">
            <% include ../partials/star-select %>
        </select>
      </div>
      <div class="form-group col-md-3 col-sm-6">
        <label for="safety">Safety</label>
        <select class="custom-select" id="safety" name="review[ratingSafety]">
            <% include ../partials/star-select %>
        </select>
      </div>
    </div>
    <h4>Hours and Salary</h4>
    <div class="row">
      <div class="form-group col-md-3 col-sm-6">
        <label for="hoursPerWeek">Hours per week</label>
          <input class="form-control" type="number" id="hoursPerWeek" name="review[hoursPerWeek]" placeholder="Hours per week">
      </div>
      <div class="form-group col-md-3 col-sm-6">
        <label for="daysPerWeek">Days per week</label>
        <input class="form-control" type="number" id="daysPerWeek" name="review[daysPerWeek]" placeholder="Days per week">
      </div>
      <div class="form-group col-md-3 col-sm-6">
        <label for="salary">Salary (AUD $)</label>
          <input class="form-control" type="number" id="salary" name="review[salary]" placeholder="Salary">
      </div>
      <div class="form-group col-md-3 col-sm-6">
        <label for="safety">Salary Rate</label>
        <select class="custom-select" id="safety" name="review[ratingSafety]">
          <option selected value="perHour">per hour</option>
          <option value="perDay">per day</option>
          <option value="perWeek">per week</option>
          <option value="perKilo">per kilo</option>
          <option value="perBin">per bin</option>
          <option value="perItem">per item</option>
        </select>
      </div>
    </div>
    <h4>Accomodation</h4>
    <div class="row">
      <div class="form-group col-md-3 col-sm-6">
        <label for="accomodationProvided">Accomodation Provided</label>
        <select class="custom-select" id="accomodationProvided" name="review[accomodationProvided]">
          <option selected value="1">Yes</option>
          <option value="0">No</option>
        </select>
      </div>
      <div class="form-group col-md-3 col-sm-6">
        <label for="ratingAccomodation">Accomodation Rating</label>
        <select class="custom-select" id="ratingAccomodation" name="review[ratingAccomodation]">
            <% include ../partials/star-select %>
        </select>
      </div>
      <div class="form-group col-md-3 col-sm-6">
        <label for="accomodationCost">Accomodation Cost (AUD $)</label>
          <input class="form-control" type="number" id="accomodationCost" name="review[accomodationCost]" placeholder="Accomodation Cost">
      </div>
      <div class="form-group col-md-3 col-sm-6">
        <label for="accomodationCostRate">Accomodation Cost Rate</label>
        <select class="custom-select" id="accomodationCostRate" name="review[accomodationCostRate]">
          <option selected value="perDay">per day</option>
          <option value="perWeek">per week</option>
        </select>
      </div>
    </div>
    
    
    <button type="submit" class="btn btn-success float-right">Submit</button>
    <a class="btn btn-outline-danger" href="/companies/" role="button">Cancel</a>
  </form>
</div>

<% include ../partials/footer %>