<% include ../partials/header %>

<div class="rounded border container mt-3 pt-3 pb-3">
  <h1>Add New Company</h1>
  <form>
    <div class="form-group" action="/companies" method="POST">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="company[name]" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" name="company[address]" placeholder="Address">
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        <label for="suburb">Suburb</label>
        <input type="text" class="form-control" id="suburb" name="company[suburb]" placeholder="Suburb">
      </div>
      <div class="form-group col-md-4">
        <label for="state">State</label>
        <select class="custom-select" id="state" name="company[state]">
          <option selected>State</option>
          <option value="NSW">NSW</option>
          <option value="NT">NT</option>
          <option value="QLD">QLD</option>
          <option value="SA">SA</option>
          <option value="TAS">TAS</option>
          <option value="VIC">VIC</option>
          <option value="WA">WA</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="postalcode">Postal Code</label>
        <input type="text" class="form-control" id="postalcode" name="company[postalcode]" placeholder="Postal Code">
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" rows="3" name="company[description]" placeholder="Company Description"></textarea>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        <label for="category">Category</label>
        <select class="custom-select" id="state" name="company[category]">
          <option selected>Category</option>
          <option value="Construction">Construction</option>
          <option value="Farming">Farming</option>
          <option value="Fishing">Fishing</option>
          <option value="Forestry">Forestry</option>
          <option value="Hospitality">Hospitality</option>
          <option value="Mining">Mining</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="valid417">417 Visa Sign-off</label>
        <select class="custom-select" id="valid417" name="company[valid417]">
          <option selected>State</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
          <option value="Unknown">Unknown</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="valid462">462 Visa Sign-off</label>
        <select class="custom-select" id="valid462" name="company[valid462]">
          <option selected>State</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
          <option value="Unknown">Unknown</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-success float-right">Submit</button>
  <a class="btn btn-outline-danger" href="/companies/" role="button">Cancel</a>
  </form>
</div>

<% include ../partials/footer %>