<% include ../partials/header %>

<div class="ui text clearing container segment">

    <h1 class="ui header">Add New company</h1>
    <form class="ui form" action="/companies" method="POST">
      <div class="field">
        <label>Name</label>
        <input type="text" name="company[name]" placeholder="Company Name">
      </div>
      <div class="field">
        <label>Address</label>
        <input type="text" name="company[address]" placeholder="Company Address">
      </div>
      <div class="field">
        <label>Description</label>
        <textarea name="company[description]" placeholder="Company Description"></textarea>
      </div>
      <div class="field">
        <label>Category</label>
        <input type="text" name="company[category]" placeholder="Category">
      </div>
      <a href="/companies/" >
        <button class="ui left floated negative basic button" type="submit">Cancel</button>
      </a>
      <button class="ui right floated positive button" type="submit">Submit</button>
    </form>
</div>

<% include ../partials/footer %>